.Landing-page-hero {
    border-bottom: 1px solid black;
    font-size: 120px;
    font-weight: 400;
    font-family: 'Bebas Neue', sans-serif;
    line-height: 120px;
    letter-spacing: -0.01em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 46px;
}

.Landing-page-hero p {
    padding: 0;
    margin: 96px 0 48px 0;
}

.Landing-page-hero img {
    max-width: 100%;
    height: auto;
    border-radius: 56px;
    border: 1px solid black;
}

.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
    filter: brightness(80%);
}

.overlay-text {
    position: absolute;
    top: 55%;
    right: 33%;
    left: 3%;
}

.text-content {
    gap: 16px;
}

.Industrial-Design {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 38px;
    color: white;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.01em;
}

.Explore-my-work {
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    font-weight: 400;
    color: white;
    line-height: 32px;
    letter-spacing: -0.005em;
}

.Explore-My-Work button {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    background-color: white;
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    transition:  transform 0.3s ease;
}

.Explore-My-Work button:hover {
    cursor: pointer;
    transform: scale(1.06);
}