.Nine-Project-Overview-Collage {
    margin: 96px auto;
    width: 90%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.project-row {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap; 
    margin-bottom: 30px;
}

.projects {
    display: flex;
    font-weight: 800;
    flex-direction: column;
    text-align: left; 
    font-size: large; 
    font-family: 'Roboto Mono', monospace;
    gap: 8px;
    width: 60%;
}

.projects img {
    width: 100%; 
    height: auto; 
    margin: 0 auto; 
    transition: transform 0.5s ease;
}

.projects img:hover {
    transform: scale(1.06);
    cursor: pointer;
}

.projects p {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    margin: auto 0;
    text-decoration-skip-ink: none;
}

@media (max-width: 768px) {
    .Nine-Project-Overview-Collage {
        gap: 24px;
    }

    .project-row {
        gap: 6px;
    }

    .projects {
        font-size: medium;
    }
} 

@media (max-width: 450px) {
    .Nine-Project-Overview-Collage {
        gap: 6px;
    }

    .project-row {
        flex-direction: column; 
        align-items: center;
    }

    .projects img {
        max-width: 100%; 
        height: auto;
    }

    .projects {
        font-size: small;
    }
}

